<li>
  <%= gravatar_for user, size: 50 %>

  <%  u_link = link_to user.name, user %>

  <%= highlight(u_link,@highlight_keyword) %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
  <!--ここのuserはuser_path(user) :::: user_path(user)  GET(メソッドでdeleteを渡すとDELETE) /users:id destroy-->
</li>
